* {
    box-sizing: border-box;
}

html, body {
    margin: 0;
    padding: 0;
}


.container {
    background-color: #fff;
    display: flex;
    flex-direction: row;
}

.nav-desktop{
	background-color: #ffff;
	height:932px;
	flex: 0.7;
}
.logo{
	max-width: 100%;
  	height: auto;
  	max-height: 100%;
	border-bottom: 1px solid #000000;
}

div#logo{
	height: 210px;
	text-align: center;
}

div#location{
	background-color:#ffff ;
	color: #8E3623;
	height: 60px;
	width: 70%;
	margin-left: 40px;
	margin-top: 25px;
	border-bottom: 1px solid #000000;
	font-family: Didot Regular;
  	font-size: 15px;	
  	text-align: center;
}

div#menubar{
	color: #8E3623;
	background-color: #ffff;
	height: 310px;
	text-align: center;
}

div#menubar nav ul li  {
	display: inline-block;
	padding: 20px 10px;
}

div#menubar nav ul li a {
	text-decoration: none;
	font-family: Didot Regular;
    font-size: 20px;
	color: #8E3623;
	padding-right: 35px;
}

div#menubar nav ul li a:hover {
	color: #000000;
}

div#signup {
	background-color:#ffff ;
	color: #8E3623;
	height: 60px;
	width: 67%;
	margin-left: 44px;
	margin-top: 25px;
	border: 1px solid #8E3623;
	text-align: center;
	font-family: Didot Regular;
   font-size: 20px;
}

div#signup nav ul li {
	display: inline-block;
	padding-right: 5px;
}

div#signup nav ul li a {
	color:#8E3623 ;
	text-decoration: none;
	padding-right: 40px;
	margin-bottom: 10px;
}

div#signup nav ul li a:hover {
	color: #000000;
}


div#main{
	background-color: #ffff;
	flex:4.3;
	text-align: center;
	padding-left: 7px;
	padding-top: 7px;
}

div#image {
	height:700px;
	flex:1;
	background-color: #ffff;
	padding-right: 10px;
}

div#bottom{
	height:600px;
	flex:1;
	background-color: #ffff;
	text-align: justify;
	padding-right: 20px;
}

h1{
	font-size: 40px;
	font-style: italic;
	text-align: center;
}

p{
	font-size: 20px;
	font-style: italic;
}

.image{
	width:100%;
	height:100%;
	object-fit: cover;
}

.nav {
	background-color: #ffff;
	height: 130px;
	width:100%;
	display: none;
}

.nav_bars-btn{
	width: 28px;
	height: 28px;
	color:black;
	margin-right: 8px;
	margin-left: 460px
}
.nav_input{
	display: none;
}

.nav_input:checked~.nav-mobi{
	transform: translateX(0%);
}

.nav-mobi{
	position: fixed;
	top : 0;
	left : 0;
	bottom : 0;
	width: 100%;
	display:none;
	color: #8e3623;
	background-color: #ffff;
	height: 100%;
	text-align: center;
	align-items: center;
	transform: translateX(100%);
}

.nav-mobi nav ul li  {
	margin-top: 70px;
	padding-right: 10px;
}

.nav-mobi nav ul li a {
	text-decoration: none;
	font-family: Didot Regular;
    font-size: 20px;
	color: #8E3623;
	
}

.nav-mobi nav ul li a:hover {
	color: #000000;
}

.nav_mobile-close{
	width: 30px;
	height: 28px;
	color : #666;
	position: absolute;
	top:1rem;
	right: 1rem;
}

/* Mobile */
@media only screen and (max-width:700px){
	.logo{
		border-bottom: none !important;
	}
	.nav-desktop{
		display: none;
	}
	.nav-mobi{
		display: block !important;
	}
	.nav{
		display: flex;
		align-items: center;
	}
	div#main{
		width: 100%;
		height: auto !important;
	}
	.logo{
		width: 80%;
		padding-top: 20px;
	}
}	
